.search {
    width: 60%;
    height: 50px;
    margin-top: 50px;
    .el-input__inner {
        height: 50px;
    }
    .el-input-group__append,
    .el-input-group__prepend {
        background-color: #4698ff;
        color: white;
    }
}

.index-section {
    width: 1300px;
    margin-bottom: 50px;
    &:first-child {
        margin-top: 30px;
    }
    &-title {
        @include flex();
        img {
            height: 40px;
        }
    }
    &-content {
        @include flex(row, flex-start);
        flex-flow: wrap;
    }
    &-item {
        width: 110px;
        margin: 30px;
        font-size: 13px;
        text-align: center;
        cursor: pointer;
        img {
            margin-bottom: 10px;
        }
    }
}

.home {
    @include flex(column);
    .carousel {
        width: 100%;
        &-img {
            width: 100%;
        }
    }
    .history {
        width: 60%;
        height: auto;
        margin-top: 10px;
        margin-bottom: 25px;
        text-align: left;
        font-size: 14px;
        color: #888;
    }
    .abstract {
        width: 80%;
        position: relative;
        height: 65px;
        .abstract-section {
            top: -10px;
            z-index: 100;
            display: flex;
            width: 100%;
            align-items: center;
            /* 垂直居中 */
            justify-content: space-between;
            /* 水平居中 */
            position: absolute;
        }
    }
}