.list-page {
    @include flex(row, flex-start, flex-start);
    background-color: aliceblue;
    padding: 25px;
    .filter-section {
      @include flex(column);
      width: 360px;
      margin-right: 25px;
  
      .type-filter {
        margin-top: 10px;
        width: 100%;
        background: $color-pure-white;
  
        &-title-box {
          @include flex();
          background-color: $color-main-gray-lighter;
          color: $color-font-gray;
          .active {
            background-color: $color-main-blue;
            color: $color-pure-white;
          }
        }
        &-title {
          flex: 1;
          padding: 4px 0;
          cursor: pointer;
        }
  
        &-box {
          font-size: 14px;
          text-align: left;
          color: $color-font-gray;
          max-height: 470px;
          padding: 5px 0;
          overflow: auto;
          .active {
            background: $color-main-gray-lighter;
            border-right: 4px solid $color-main-blue;
          }
        }
  
        .word-filter {
          padding: 5px 10px;
          cursor: pointer;
          &:hover {
            background: $color-main-gray-lighter;
          }
          .province-tip {
            font-size: 8px;
            color: $color-font-gray-lighter;
          }
        }
      }
    }
    .dataset-section {
      @include shadow-card;
      @include flex(column, flex-start);
      flex: 1;
      background-color: $color-pure-white;
  
      .filter-condition {
        width: 100%;
        @include flex(row, flex-start);
        .el-tag {
          display: block;
          margin: 10px;
        }
      }
  
      .loading {
        width: 200px;
        height: 50px;
        font-size: 14px;
        text-align: center;
        margin: 10% auto;
      }
  
      .no_result {
        @include flex(column);
        width: 100%;
        margin: 25px 0;
  
        img {
          height: 180px;
          margin-top: 40px;
        }
      }
  
      .result {
        width: 100%;
      }
      .pagination {
        display: flex;
        margin: 25px 0;
        padding-left: 15px;
      }
    }
    ::-webkit-scrollbar {
      width: 5px;
    }
    ::-webkit-scrollbar-thumb {
      border-radius: 10px;
      -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
      background: rgba(0, 0, 0, 0.2);
      background-color: rgb(158, 176, 205);
    }
    ::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
      border-radius: 2px;
      background: rgba(0, 0, 0, 0.1);
      background-color: rgb(213, 217, 222);
    }
}